
/*header {
	position: fixed;
	left: 0;
	right: 0;
}
main {
	position: fixed;
	top: 90px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}*/

h1 {
	background-color: #333;
	color: mintcream;
	text-transform: lowercase;
	line-height: 2;
}

h2 {
	text-transform: lowercase;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
}

h1 a {
	color: mintcream;
	text-decoration: none;
}


/** selector de variantes del elemento **/
select {
	background-color: mintcream;
	font-size: 115%;
}