
h1 {
	font-size: 225%;
	padding: 0 $padding-default;
}
h2 {
	font-size: 200%;
	padding: 0 $padding-default;
}
h3 {
	font-size: 175%;
	padding: 0 $padding-default;
}
h4 {
	font-size: 150%;
	padding: 0 $padding-default;
}
h5 {
	font-size: 125%;
	padding: 0 $padding-default;
}
h6 {
	font-size: 100%;
	padding: 0 $padding-default;
}

