* {
	box-sizing: border-box;
	margin: 0;
	font-family: sans-serif;
	//font-size: medium;
	font-size: inherit;
	color: #333;
}

*::after, *::before {
    box-sizing: border-box;
}

// fix bug mozilla
button::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
}

