table {
	border-collapse: collapse;
	width: 100%;
}

caption {
	font-size: 110%;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	padding: $padding-default;
	border-bottom: $border-default;
}

th, td {
	text-align: left;
	padding: $padding-default;
	border-bottom: $border-default;
}

tbody tr:hover {
	background-color: $hover-default;
}

table.bordered {

	& th {
		border: $border-default;
	}

	& td {
		border: $border-default;
	}
}