//@import url('https://fonts.googleapis.com/css?family=Open+Sans|Montserrat');
//$montserrat: montserrat;
//$font-brand: montserrat;
//$font-button: montserrat;
//$font-title: montserrat;

$hover-default: rgba(0, 0, 0, .025);
$border-default: 1px solid rgba(0,0,0,.15);
$padding-default: 15px;
$gutter-default: 15px;